.upperBar {
  // border: 2px solid black;
  padding: 1em;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include mobile-media-query {
  .upperBar {
    height: unset;
    padding: 0.5em;
    flex-direction: column;
    // border: 2px solid red;
    width: 100%;
  }
}
